<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XYQ_JKLClientDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>046609F51D6D8DBD006096EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04660A0E1D6D8DBD006096EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04660A191D6D8DBD006096EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
